*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea
fuel/app/config/config.php
fuel/app/config/db.php
fuel/app/tmp/Smarty/templates_c/*
public/assets/js/admin.js
public/assets/css/admin.css
public/files/images/*
public/files/audio/*
