*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
fuel/app/logs/*/*/*
fuel/app/cache/*/*
nbproject/
.idea
fuel/app/tmp/Smarty/templates_c/*
public/files/*/*
config
fuel/app/config
